:root {
    --brand-color: #3f51b5;
}
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}
.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.link {
    text-decoration: none;
}
.link:hover {
    color: #404bbf;
}
.link:focus {
    color: #404bbf;
}
.black-logo-part {
    color: #2e2f42;
}

.list {
    list-style: none;
}
.menu {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.contacts {
    font-style: normal;
}
.message {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.hero {
    background-color: #2e2f42;
}
.hero-header {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
}
.hero-button {
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
}
.hero-button:hover {
    background-color: #404BBF;
}
.hero-button:focus {
    background-color: #404BBF;
}
.third-header {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.principle-paragraph {
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.accomplishments {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}
.team {
    background-color: #F4F4FD;
}
.fourth-header {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}
.team-member-list {
    background-color: #FFFFFF;
}
.name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.job-title {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.bottom {
    background-color: #2e2f42;
}
.white-logo-part {
    color: #f4f4fd;
}
.bottom-p {
    font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.02em;
        text-align: left;
}
.project-type {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #4d5ae5;
    background-color: #F4F4FD;
    cursor: pointer;
}
.project-type:hover {
    color: #FFFFFF;
    background-color: #404BBF;
}
.project-type:focus {
    color: #FFFFFF;
    background-color: #404BBF;
}
.concept {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.concept-p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}